:root {
  --left-column-width: 245px;
  --mobile-right-column-width: 1200px;
}


@media screen and (min-width: 765px) and (max-width: 1024px) {
  :root {
    --left-column-width: 200px;
  }
}

@media screen and (max-width: 764px) {
  :root {
    --left-column-width: 184px;
  }
}


.schedule .dateAndHours {
  display: grid;
  grid-template-rows: 46px;
  grid-template-columns: var(--left-column-width) auto;
  grid-template-areas: 
    "dateColumn hoursColumn";
  background-color: white;
}

@media screen and (max-width: 764px) {
  .schedule .dateAndHours {
    grid-template-columns: var(--left-column-width) calc(100% - var(--left-column-width));
    grid-template-rows: 56px 32px;
    grid-template-areas: 
      "dateColumn dateColumn"
      "emptyWhite hoursColumn";
  }
}


.schedule .eventsGrid {
  display: grid;
  grid-template-columns: 100% 100%;
  grid-template-areas: 
    "roomEventsColumn gridTimeColumn"
}

@media screen and (max-width: 764px) {
  .schedule .eventsGrid {
    display: grid;
    grid-template-columns: calc(var(--mobile-right-column-width) + var(--left-column-width)) calc(var(--mobile-right-column-width) + var(--left-column-width));
    grid-template-areas: 
      "roomEventsColumn gridTimeColumn"
  }
}

