
.roomEventsColumn {
  grid-area: roomEventsColumn;
  background-color: transparent;
  z-index: 2;
}

.roomEventsColumn .floorInfo {
  padding-top: 23px;
  padding-bottom: 2px;
}


.roomEventsColumn .floorInfo, .roomEventsColumn .roomInfo {
  box-sizing: border-box;
  /*variable from mainPage.css*/
  flex-basis: var(--left-column-width);
  width: var(--left-column-width);
  padding-left: 22px;
  background-color:  white;
}
@media screen and (max-width: 764px) {
  .roomEventsColumn .floorInfo {
    padding-bottom: 10px;
    background-color:  rgb(246,246,249);
  }
  .roomEventsColumn .roomInfo {
    background-color:  white;
  }
}

.roomEventsColumn .floorInfo .floorName {
  font-size: 11px;
  text-transform: uppercase;
  font-family: HelveticaNeue, Open-sans, sans-serif;
  font-weight: 600;
  color: #858E98;
  word-spacing: 0.4px
}

.roomEventsColumn .room {
  display: flex;
  padding-top: 0px;
  height: 44px;
  font-family: HelveticaNeue, Open Sans, sans-serif;
  
}
@media screen and (max-width: 764px) {
  .roomEventsColumn .room {
    padding-top: 0px;
    border-bottom: 2px solid rgb(246,246,249);
    height:  50px;
  }
}

.roomEventsColumn .roomInfo {
  padding-top: 12px;
}

.roomEventsColumn .roomInfoHidden {
  height: 24px;
  padding: 5px;
  position: absolute;
  width: max-content;
  background: white;
  box-shadow: 0 1px 8px 0 rgba(0,44,92,0.28);
  border-radius: 4px;
  transition: transform 0s;
  z-index: 11;
}
@media screen and (max-width: 764px) {
  .roomEventsColumn .roomInfoHidden {
    transition: transform 0.4s linear;
  }
}

.roomEventsColumn .roomInfo .roomInfoName {
  font-weight: 600;
  font-size: 15px;
  line-height: 17px
}

.roomEventsColumn .roomInfoHidden .roomInfoName {
  font-size: 11px;
  color: #858E98;
  letter-spacing: 0.4px;
}

.roomEventsColumn .roomInfo .roomInfoCapacity {
  margin-top: 2px;
  font-size: 13px;
  line-height: 17px
}

.roomEventsColumn .fullBusyRoom {
  color: #858E98;
}

.roomEventsColumn .roomSceduleWrapper {
  /*variable from mainPage.css*/
  width: calc(100% - var(--left-column-width));
  padding-top: 8px;
  background-color: transparent;
}

.roomEventsColumn .roomScheduleWrapperScrolled {
  /*variable from mainPage.css*/
  margin-left: var(--left-column-width);
}

.roomEventsColumn .roomSceduleWrapper .roomSchedule {
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: rgba(206, 217, 228, 0.5);
  height: 28px;
  padding-left: 3.2%;
  padding-right: 3.2%;
}
@media screen and (max-width: 764px) {
  .roomEventsColumn .roomSceduleWrapper .roomSchedule {
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.roomEventsColumn .roomSceduleWrapper .roomSchedule .event {
  height: 28px;
  cursor: pointer;
}
.roomEventsColumn .roomSceduleWrapper .roomSchedule .event:hover {
  background-color: #99A9B9;
}
@media screen and (max-width: 764px) {
  .roomEventsColumn .roomSceduleWrapper .roomSchedule .event {
    height: 100%;
  }
}

.roomEventsColumn .roomSceduleWrapper .roomSchedule .emptyTime {
  background-color: white;
  height: 28px;
  cursor: pointer;
}
.roomEventsColumn .roomSceduleWrapper .roomSchedule .emptyTime:hover {
  background-color: #2B50FD;
  transform: scaleY(1.05)
}

@media screen and (max-width: 764px) {
  .roomEventsColumn .roomSceduleWrapper .roomSchedule .emptyTime {
    height: 100%;
  }
}

.roomEventsColumn .roomSceduleWrapper .roomSchedule .emptyTime .pluseSign {
  width: 100%;
  height: 100%;
  color:white;
  font-weight: 600;
  text-align: center;
  font-size: 24px;
  margin-top: -3px;
}
@media screen and (max-width: 764px) {
  .roomEventsColumn .roomSceduleWrapper .roomSchedule .emptyTime .pluseSign {
    margin-top: 8px;
  }
}

.roomEventsColumn .roomSceduleWrapper .roomSchedule .event .eventToolTipParent {
  position: relative;
  z-index: 999;
}
@media screen and (max-width: 764px) {
  .roomEventsColumn .roomSceduleWrapper .roomSchedule .event .eventToolTipParent {
    position: fixed;
  }
}

.roomEventsColumn .roomSceduleWrapper .roomSchedule .event 
.eventToolTipParent .triangleBorder {
  background: transparent;
  position: relative;
}
@media screen and (max-width: 764px) {
  .roomEventsColumn .roomSceduleWrapper .roomSchedule .event 
  .eventToolTipParent .triangleBorder {
    display: none;
  }
}

.roomEventsColumn .roomSceduleWrapper .roomSchedule .event 
.eventToolTipParent .triangleBorder:before {
  content: ''; 
  position: absolute;
  left: 158px;
  bottom: 0px;
  border: 9px solid transparent;	border-bottom: 9px solid white;
}

.roomEventsColumn .roomSceduleWrapper .roomSchedule .event 
.eventToolTipParent .eventTooltip {
  position: absolute;
  width: 338px;
  left: calc(-169px + 50%);
  top: 0px;
  height: 120.8px;
  margin-top: 28px;
  background-color: white;
  box-shadow: 0 1px 16px rgba(0,0,0,0.2);
  border-radius: 6px;
}

@media screen and (max-width: 764px) {
  .roomEventsColumn .roomSceduleWrapper .roomSchedule .event 
  .eventToolTipParent .eventTooltip {
    position: fixed;
    width: 100%;
    top: calc(50% - 60.4px);
    left: 0;
  }
}

.roomEventsColumn .roomSceduleWrapper .roomSchedule .event 
.eventToolTipParent .eventTooltip .editEventButton {
  float: right;
  margin-right: 5px;
  margin-top: 5px;
  width: 24px;
  height: 24px;
  background-color: #E9ECEF;
  border-radius: 100px;
  text-align: center;
}
.roomEventsColumn .roomSceduleWrapper .roomSchedule .event 
.eventToolTipParent .eventTooltip .editEventButton:hover {
  background-color: rgb(204, 206, 207);
}

.roomEventsColumn .roomSceduleWrapper .roomSchedule .event 
.eventToolTipParent .eventTooltip .editEventButton img {
  margin-top: 6px;
  opacity: 0.43;
}

.roomEventsColumn .roomSceduleWrapper .roomSchedule .event 
.eventToolTipParent .eventTooltip  .eventInfo h1 {
  margin: 12px 16px 2px 16px;
  font-family: HelveticaNeue-Bold, Open Sans, sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
  line-height: 24px;
}

.roomEventsColumn .roomSceduleWrapper .roomSchedule .event 
.eventToolTipParent .eventTooltip .eventInfo p {
  margin: 0px 16px;
  font-family: HelveticaNeue, Open Sans, sans-serif;
  font-size: 13px;
  color: #000000;
  letter-spacing: 0;
  line-height: 17px;
}

.roomEventsColumn .roomSceduleWrapper .roomSchedule .event 
.eventToolTipParent .eventTooltip .eventInfo p:last-child {
  margin-top: 19px;
}

.roomEventsColumn .roomSceduleWrapper .roomSchedule .event 
.eventToolTipParent .eventTooltip .eventInfo .mentorName {
  margin-left: 9px;
}

.roomEventsColumn .roomSceduleWrapper .roomSchedule .event 
.eventToolTipParent .eventTooltip .eventInfo .amountPeople {
  color: rgb(138, 138, 138);
}

.roomEventsColumn .roomSceduleWrapper .roomSchedule .event 
.eventToolTipParent .eventTooltip .eventInfo .mentorAvatar {
  position: relative;
  top: 6px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
}