
.gridTimeColumn {
  grid-area: gridTimeColumn;
  display: flex;
  box-sizing: border-box;
  /*variable from mainPage.css*/
  margin-left: calc(-100% + var(--left-column-width));
  width: calc(100% - var(--left-column-width));
  background-color:  rgb(246,246,249);
  border-left: 1px solid rgb(240,240,240);
  z-index: 1;
}
@media screen and (max-width: 764px) {
  .gridTimeColumn {
    width: var(--mobile-right-column-width);
    border: none;
  }
}

.gridTimeColumn .hourColumn {
  flex-grow: 1;
  height: 100%;
  border-right: 1px solid rgba(19,100,205,0.10)
}
.gridTimeColumn .hourColumn:first-child, .hourColumn:last-child {
  flex-grow: 0.5;
}